<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
					    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.demoweb.dto.Member" alias="Member" />
		<typeAlias type="com.demoweb.dto.Board" alias="Board" />
		<typeAlias type="com.demoweb.dto.BoardAttach" alias="BoardAttach" />
		<typeAlias type="com.demoweb.dto.BoardComment" alias="BoardComment" />
	</typeAliases>

	<mappers>
		<mapper resource="com/demoweb/mapper/MemberMapper.xml" />
		<mapper resource="com/demoweb/mapper/BoardMapper.xml" />
	</mappers>
	
</configuration>